<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Sitio Web (Maquetado estático)</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique enim doloremque obcaecati itaque distinctio, laudantium voluptatibus! Eos, dignissimos pariatur! Molestiae et quae voluptatibus fuga culpa atque repellat soluta itaque a.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyecto.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
