<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/HTML5_logo_and_wordmark.svg.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="12"
        [outerStrokeColor]="'#FF5733'"
        [innerStrokeColor]="'#FD947E'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../assets/CSS3_logo_and_wordmark.svg.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="60"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="12"
        [outerStrokeColor]="'#046BFB'"
        [innerStrokeColor]="'#67A6FE'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc]="'../assets/800px-JavaScript-logo.png'"
        [showImage]="true"
        [imageHeight]="65"
        [imageWidth]="65"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="12"
        [outerStrokeColor]="'#F8D109'"
        [innerStrokeColor]="'#FBE783'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../assets/2048px-Angular_full_color_logo.svg.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="12"
        [outerStrokeColor]="'#D70B05'"
        [innerStrokeColor]="'#FA9C99'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/eng.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="12"
        [outerStrokeColor]="'#8614E9'"
        [innerStrokeColor]="'#CC98F9'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="12"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>
</div>
